body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("cf.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.login-container {
    background-color: white;
    padding: 60px;
    border-radius: 30px;
    background: transparent;
    background-size: cover;
    text-align: center;
    
}

h2 {
    color: #2E1A47;
    margin-bottom: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: transparent;
    
}

.form-group {
    margin-bottom: 20px;
}
.two-forms{
    display: flex;
    gap: 10px;
}
label {
    display: #333;
    margin-top: 10px;
    font-weight: bold;
    color: black;
}

input {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background: rgba(41,209,32, 0.2);
}

button {
    color: Boldblack;
    border: solid limegreen;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
}

.error-message {
    color: #ff5555;
    margin-top: 10px;
    
}

.forgot-password a {
    text-decoration: none;
    color: darkred;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}
